@tailwind base;
@tailwind components;
@tailwind utilities;

form:has(input:focus) {
  @apply bg-[rgba(0,0,0,0.1)] ring backdrop-blur-md 
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #FFFFFF;
}
