@tailwind base;
@tailwind components;
@tailwind utilities;

form:has(input:focus) {
  @apply bg-[rgba(0,0,0,0.3)] ring backdrop-blur-md 
}

.swiper-pagination-bullet {
  background-color: #ffffff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #FFFFFF;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  width: 24px;
  cursor: pointer;  
}

.hamburger-menu > div {
  height: 2px;
  width: 100%;
  background-color: white;
  transition: all .25s
}

